<h3>Создание пользователя</h3>
<mat-divider></mat-divider>
<form [formGroup]="UserForm" (ngSubmit)="onSubmitClient(UserForm.value)">
    <div mat-dialog-content>
      
      <mat-form-field class="full-width">
        <input matInput placeholder="Паcпорт" formControlName="passport" required>
        <mat-error *ngFor="let validation of validation_messages.Passport">
          <mat-error class="error-message" *ngIf="formControlPassport.hasError(validation.type) && (formControlPassport.dirty || formControlPassport.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" placeholder="Дата рождения" formControlName="dateOfBirth" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngFor="let validation of validation_messages.dateOfBirth">
          <mat-error class="error-message" *ngIf="formControlDate.hasError(validation.type) && (formControlDate.dirty || formControlDate.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Почта" formControlName="email" required>
        <mat-error *ngFor="let validation of validation_messages.Email">
          <mat-error class="error-message" *ngIf="formControlEmail.hasError(validation.type) && (formControlEmail.dirty || formControlEmail.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <input matInput placeholder="Имя" formControlName="name" required>
        <mat-error *ngFor="let validation of validation_messages.Name">
          <mat-error class="error-message" *ngIf="formControlName.hasError(validation.type) && (formControlName.dirty || formControlName.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Фамилия" formControlName="surname" required>
        <mat-error *ngFor="let validation of validation_messages.SurName">
          <mat-error class="error-message" *ngIf="formControlSurName.hasError(validation.type) && (formControlSurName.dirty || formControlSurName.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Отчество" formControlName="patronymic" required>
        <mat-error *ngFor="let validation of validation_messages.Patron">
          <mat-error class="error-message" *ngIf="formControlPatron.hasError(validation.type) && (formControlPatron.dirty || formControlPatron.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-select placeholder="Роль" formControlName="role">
          <mat-option *ngFor="let Role of Roles" [value]="Role">
            {{ Role }}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.Role">
          <mat-error class="error-message" *ngIf="formControlRole.hasError(validation.type) && (formControlRole.dirty || formControlRole.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <input matInput placeholder="Пароль" formControlName="password" required>
        <mat-error *ngFor="let validation of validation_messages.Password">
          <mat-error class="error-message" *ngIf="formControlPassword.hasError(validation.type) && (formControlPassword.dirty || formControlPassword.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
  
    </div>
    <!-- mat-dialog-actions -->

    <div>      
      <button mat-raised-button color="primary" type="submit" [disabled]="!UserForm.valid" mat-dialog-close>Создать</button>      
      <span *ngIf="formError===false" style="color: green;padding-left: 10px;">{{formMsg}}</span>
      <span *ngIf="formError===true" style="color: red;padding-left: 10px;">{{formMsg}}</span>
    </div>
  
  </form>