.full-width {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .error-message {
    font-size: 12px;
  }
  
  .lower-button{
    display: inline-block;
    /* align-items: baseline; */
  }
  .time-icon{
    vertical-align: middle;
    font-size: 24px;
  }
