
<div class = "header-div">
    <span class="icon-div" (click)="closeClick()">
        <mat-icon class="top-icon" [inline]="true">arrow_forward_ios</mat-icon>
    </span>
    <span class="header-name">{{getFIO()}}</span>
</div>

<h4>Изменение сценария</h4>

<div class="container">
    <div class="editor-div" *ngIf="isEditor">
        <button class="RequestButtons" mat-raised-button color="primary" (click)="saveRes()" >Сохранить</button>
        <span *ngIf="isScenarioError" class="message" style="margin-left:10px;color: red;" >{{scenarioMsg}}</span>
        <span *ngIf="!isScenarioError && saved" class="message" style="margin-left:10px;color: green;" id="save-ok">{{scenarioMsg}}</span>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let movie of modsToEdit; let i = index" [attr.data-index]="i" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <!-- {{movie.name}} -->
            <app-priority-box
                class="prior-box"
                [mod]="movie"
                [index]="i+1"
                [prevIndex]="i ==0 ? -100 : modsToEdit[i-1].priority"
                (changeP)="priorityChanged($event)"
                >
            </app-priority-box>

            </div>
        </div>
    </div>

    <div class="editor-div" *ngIf="!isEditor">
        <button class="RequestButtons" mat-raised-button color="primary" (click)="isEditor=true">Изменить</button>
        <span *ngIf="isScenarioError" class="message" style="margin-left:10px;color: red;">{{scenarioMsg}}</span>
        <span *ngIf="!isScenarioError" class="message" style="margin-left:10px;color: green;">{{scenarioMsg}}</span>
        <!-- <div *ngFor="let mod of curScenario.modificationScenarios">{{mod.modification.name}}</div> -->
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div
              class="example-box-immove"
              *ngFor="let mod of curScenario.modificationScenarios"
              cdkDrag
              [cdkDragDisabled]="true">
                <div>
                    <span><b>Наименование: </b>{{mod.modification.name}}</span><br>
                    <span><b>Приоритет: </b>{{mod.priority}}</span><br>
                    <span><b>Риск: </b>{{mod.modification.risk?mod.modification.risk:"-"}}</span><br>
                    <span><b>Шанс: </b>{{mod.modification.chance}}</span><br>
                    <!-- {{item.modification.name}} -->
                </div>
            </div>
          </div>
    </div>
</div>
