<div class = "header-div">
    <span class="icon-div" (click)="closeClick()">
        <mat-icon class="top-icon" [inline]="true">arrow_forward_ios</mat-icon>
    </span>
    <span *ngIf="page=='client'" class="header-name"> Клиенты </span>
    <span *ngIf="page !=='client'" class="header-name"> {{getFIO()}} </span>
</div>

<div [ngSwitch]="page">
  <ng-template ngSwitchCase="changes">    
      <app-reporting-body-changes [client]="client" [order]="selectedOrder"></app-reporting-body-changes>        
  </ng-template>
  <ng-template ngSwitchCase="implants">
    <app-reporting-implants [client]="client"></app-reporting-implants>
  </ng-template>  
  
  <ng-template ngSwitchCase="client">
      <table class="table table-striped">
        <thead>      
          <tr>
            <th class="text-center" scope="col" colspan="2">Данные клиента</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label-cell">Паспортные данные</td>
            <td>{{client.person.passports[0].passport}}</td>
          </tr>
          <tr>
            <td class="label-cell">Email</td>
            <td>{{client.email}}</td>
          </tr>
          <tr>
            <td class="label-cell">Фамилия</td>
            <td>{{client.person.surname}}</td>
          </tr>
          <tr>
            <td class="label-cell">Имя</td>
            <td>{{client.person.name}}</td>
          </tr>
          <tr>
            <td class="label-cell">Отчество</td>
            <td>{{client.person.patronymic}}</td>
          </tr>      
          <tr>
            <td class="label-cell">Дата рождения</td>
            <td>{{client.person.dateOfBirth | date:'dd.MM.yyyy'}}</td>
          </tr>
          <tr>
            <td class="label-cell">Комментарий</td>
            <td>{{client.comment ? client.comment : "-"}}</td>
          </tr>
        </tbody>
      </table>
    
    <br>
    <div class="action-btns"> 
      <button [disabled]="!selectedOrder || !selectedOrder.confirmation" mat-raised-button class="client-btn" color="primary" (click)="page='implants'">  
          Импланты
      </button>
    
      <button [disabled]="!selectedOrder || !selectedOrder.confirmation" mat-raised-button class="client-btn" color="primary" (click)="page='changes'">  
          Изменения
      </button>
    </div>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="currentOrders">
      <thead>
        <tr>
          <th>№</th>
          <th>специализация</th>
          <th>Комментарий</th>
          <th>Модификации</th>
          <th>Подтверждение</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="selectRow(order)" class="tableRow" *ngFor="let order of currentOrders; let i = index" [attr.data-index]="i" [ngStyle]="order==selectedOrder && {'background-color':'beige'}">
          <td> {{order.id}} </td>
          <td>{{ order.specialization.name }}</td>              
          <td>{{ order.comment }}</td>
          <td>
            <li *ngFor="let mod of order.modifications">
              {{mod.name}}
            </li>
          </td>
          <td>
            {{order.confirmation ? "Утверждено" : "В ожидании"}}
          </td>
        </tr>
      </tbody>
    </table>

    <h5>Предыдущие модификации</h5>
  </ng-template>
<!-- <app-editable-table [data]='user_data' [schema]='columns_schema' (changed)='previousChanged($event)'></app-editable-table> -->
</div>