<div class = "header-div">
    <span class="icon-div" (click)="closeClick()">
        <mat-icon class="top-icon" [inline]="true">arrow_forward_ios</mat-icon>
    </span>
    <span *ngIf="page=='client'" class="header-name"> Клиенты </span>
    <span *ngIf="page !=='client'" class="header-name"> {{getFIO()}} </span>
</div>

<!-- <app-loader ></app-loader> -->
<div [ngSwitch]="page">
  <ng-template ngSwitchCase="changes">
      <app-reporting-body-changes [client]="client" [order]="selectedOrder"></app-reporting-body-changes>
  </ng-template>
  <ng-template ngSwitchCase="implants">
    <app-reporting-implants [client]="client"></app-reporting-implants>
  </ng-template>

  <ng-template ngSwitchCase="client">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col" colspan="2">Данные клиента</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label-cell">Паспортные данные</td>
            <td>{{client.person.passports[0].passport}}</td>
          </tr>
          <tr>
            <td class="label-cell">Email</td>
            <td>{{client.email}}</td>
          </tr>
          <tr>
            <td class="label-cell">Фамилия</td>
            <td>{{client.person.surname}}</td>
          </tr>
          <tr>
            <td class="label-cell">Имя</td>
            <td>{{client.person.name}}</td>
          </tr>
          <tr>
            <td class="label-cell">Отчество</td>
            <td>{{client.person.patronymic}}</td>
          </tr>
          <tr>
            <td class="label-cell">Дата рождения</td>
            <td>{{client.person.dateOfBirth | date:'dd.MM.yyyy'}}</td>
          </tr>
          <tr>
            <td class="label-cell">Комментарий</td>
            <td>{{client.comment ? client.comment : "-"}}</td>
          </tr>
        </tbody>
      </table>

    <br>

    <div *ngIf="isOrderLoading" class="container" style="padding-left: 50%;">
      <mat-icon style="font-size: 60px;">access_time</mat-icon>
    </div>

    <div class="errorBox" *ngIf="isOrderError">
      <div class="errorItem" style="padding-left: 47.5%;">
        <mat-icon style="font-size: 60px;">warning</mat-icon>
      </div>
      <div class="errorItem" style="text-align: center;font-size: 30px;">Не удалось получить список заявок</div>
    </div>

    <div *ngIf="!isOrderLoading && !isOrderError">
      <div class="action-btns" *ngIf="currentOrders && currentOrders.length > 0">
        <button [disabled]="!selectedOrder || !selectedOrder.confirmation" mat-raised-button class="client-btn" color="primary" (click)="page='implants'">
            Импланты
        </button>

        <button [disabled]="!selectedOrder || !selectedOrder.confirmation" mat-raised-button class="client-btn" color="primary" (click)="page='changes'">
            Изменения
        </button>
      </div>

      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="currentOrders && currentOrders.length > 0">
        <thead>
          <tr>
            <th>№</th>
            <th>специализация</th>
            <th>Комментарий</th>
            <th>Модификации</th>
            <th>Подтверждение</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="selectRow(order)" class="tableRow" *ngFor="let order of currentOrders; let i = index" [attr.data-index]="i" [ngStyle]="order==selectedOrder && {'background-color':'beige'}">
            <td> {{order.id}} </td>
            <td>{{ order.specialization.name ? order.specialization.name : "-"}}</td>
            <td>{{ order.comment ? order.comment : "-"}}</td>
            <td>
              <li *ngFor="let mod of order.modifications">
                {{mod.name}}
              </li>
              <span *ngIf="!order.modifications || order.modifications.length == 0"> - </span>
            </td>
            <td>
              {{order.confirmation ? "Утверждено" : "В ожидании"}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br><br>

    <table class="table table-striped" *ngIf="client.modifications && client.modifications.length > 0">
      <thead>
        <tr>
          <th class="text-center" scope="col" colspan="2">Предыдущие модификации</th>
        </tr>
        <tr>
          <th class="text-center">Модификация</th>
          <th class="text-center">Риск</th>
          <th class="text-center"> Шанс</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mod of client.modifications">
          <td class="label-cell">{{mod.name ? mod.name : "-"}}</td>
          <td>{{mod.risk ? mod.risk : "-"}}</td>
          <td>{{mod.chance ? mod.chance+"%" : "-"}}</td>
        </tr>

      </tbody>
    </table>

  </ng-template>
<!-- <app-editable-table [data]='user_data' [schema]='columns_schema' (changed)='previousChanged($event)'></app-editable-table> -->
</div>
