<!-- <article class="table-header"> -->

    <!-- <div> -->
      <!-- <button
        class="button-remove-rows"
        mat-button
        (click)="removeSelectedRows()"
      >
        Remove Rows
      </button> -->
      <!-- <button class="button-add-row" mat-button (click)="addRow()">
        Add Row
      </button>
    </div> -->
<!-- </article> -->
  <table *ngIf="!schemeError" mat-table [dataSource]="dataSource">
    
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th mat-header-cell *matHeaderCellDef>
        {{ col.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit || col.notEditable">
          
          <ng-container *ngSwitchCase="'isSelected'">
            <mat-checkbox
              (change)="element.isSelected = $event.checked"
            ></mat-checkbox>
          </ng-container>
          
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button (click)="element.isEdit = !element.isEdit">
              Изменить
            </button>
            <button
              *ngIf="!deletable"
              mat-button
              class="button-remove"
              (click)="removeRow(element.id)"
            >
              Удалить
            </button>
          </div>
          
          <span *ngSwitchCase="'date'">
            {{ element.data[col.key] ? (element.data[col.key] | date: 'dd.MM.yyyy') : "-" }}
          </span>

          <div *ngSwitchDefault>
            <span *ngIf="col.highlight && element.data[col.highlight]()" style="color: red;">
              {{ element.data[col.key] ? element.data[col.key] : "-" }}              
            </span>
            <span *ngIf="col.highlight && !element.data[col.highlight]()" >
              {{ element.data[col.key] ? element.data[col.key] : "-"}}              
            </span>
            <span *ngIf="!col.highlight">
              {{ element.data[col.key] ? element.data[col.key] : "-"}}
            </span>
          </div>          
        </div>

        <div [ngSwitch]="col.type" *ngIf="element.isEdit&&!col.notEditable">
          <div *ngSwitchCase="'isSelected'"></div>
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-button
              (click)="editRow(element)"
              [disabled]="disableSubmit(element.id)"
            >
              Готово
            </button>
          </div>
          
          <mat-form-field
            class="form-input"
            *ngSwitchCase="'date'"
            appearance="fill"
          >
            <mat-label>Выбор даты</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="element.data[col.key]"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div *ngSwitchDefault>
            <mat-form-field *ngIf="col.autoComplete && autocomplete" class="full-width" appearance="fill">
              <mat-label>{{col.label}}...</mat-label>
                <input                                  
                  matInput
                  [type]="col.type"
                  placeholder="Выберете одну"
                  aria-label="Специализация"                  
                  [(ngModel)]="element.data[col.key]"
                  [required]="col.required"
                  [pattern]="col.pattern"
                  
                  (keyup)="updateAuto(element.data[col.key], element.id)"
                  [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" >
                <mat-option *ngFor="let option of element.filteredOptions" [value]="option">
                    {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- (change)="updateAuto(element.data[col.key], element.id)" -->
            <mat-form-field *ngIf="!col.autoComplete || !autocomplete" class="form-input">
              <input
                matInput
                [required]="col.required"
                [pattern]="col.pattern"
                [type]="col.type"
                [(ngModel)]="element.data[col.key]"
                (change)="inputHandler($event, element.id, col.key)"
              />
            </mat-form-field>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>


<div *ngIf="!schemeError" class="round-button-div">
  <button (click)="addRow()" class="round-button" mat-mini-fab color="warn" >
  <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngIf="schemeError">
  {{schemeError}}
</div>