<app-order-confirmation [order]="orderOpened" (close)="closeOrder()" *ngIf="isOrderOpened"></app-order-confirmation>
<div *ngIf="!isOrderOpened">
<div *ngIf="!orders&&!clientError" class="container" style="padding-left: 50%;">
    <mat-icon style="font-size: 60px;">access_time</mat-icon>
</div>

<div class="right-hand">
  <div class="search">
    <mat-form-field class="no-wrapper" >
      <input matInput placeholder="Поиск..." [(ngModel)]="searchField">
      <!-- <input matInput placeholder="Поиск...">       -->
      <button mat-button *ngIf="searchField.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchReset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <!-- <div > -->
      <mat-icon class="search-icon" (click)="orderSearch()" >search</mat-icon>
    <!--   </div> -->
  </div>
</div>

<table class='table table-striped table-hover' aria-labelledby="tableLabel" *ngIf="shownItems&&!clientError">
    <thead>
      <tr>
        <th>Пасспорт</th>
        <th>Ф.И.О.</th>
        <th>Специализация</th>
        <th>Номер заявки</th>
        <th>Комментарий</th>
        <th>Подтверждение</th>
      </tr>
    </thead>
    <tbody>
      <tr (dblclick)="openOrder(queueItem)" *ngFor="let queueItem of shownItems">
        <td>{{ queueItem.client.person.passports[0].passport }}</td>
        <td>{{ getFIO(queueItem.client.person) }}</td>
        <td>{{ queueItem.specialization.name ? queueItem.specialization.name : "-"}}</td>
        <td>{{ queueItem.id}}</td>
        <td>{{ queueItem.comment ? queueItem.comment : "-"}}</td>
        <td> {{queueItem.confirmation ? "Утверждено" : "В ожидании"}} </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator *ngIf="shownItems&&!clientError"
                 #paginator
                 class="demo-paginator"
                 (page)="handlePageEvent($event)"
                 [length]="length"
                 [pageSize]="pageSize"
                 [disabled]="disabled"
                 [showFirstLastButtons]="showFirstLastButtons"
                 [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                 [hidePageSize]="hidePageSize"
                 [pageIndex]="pageIndex"
                 aria-label="Select page">
  </mat-paginator>

<div class="errorBox" *ngIf="clientError">
    <div class="errorItem" style="padding-left: 47.5%;">
      <mat-icon style="font-size: 60px;">warning</mat-icon>
    </div>
    <div class="errorItem" style="font-size: 30px;text-align: center;">Не удалось получить список заявок</div>
</div>
</div>
