.right-hand{
    float: right;
  }
  .right-hand div{
    display: inline-block;
  }
  .client-btn{
    margin-top: 10px;
  }
  .search{
    padding-right: 15px;    
  }
  
  
  .search-icon {  
    vertical-align: middle;
    font-size: 30px;
    cursor: pointer;  
  }
  
  