<h1 id="tableLabel">Клиенты</h1>
<div class="clientsHead">
  <div>
    <button mat-raised-button class="client-btn" color="primary" (click)="openClientDialog()">  
      Создать клиента
    </button>
  </div>
  
  <div class="right-hand">
    <div class="search">
      <mat-form-field class="no-wrapper" >
        <input matInput placeholder="Поиск..." [formControl]="searchField">
        <!-- <input matInput placeholder="Поиск...">       -->
        <button mat-button *ngIf="searchField.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchReset()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> 
      <!-- <div > -->
        <mat-icon class="search-icon" (click)="clientSearch()" >search</mat-icon>        
      <!-- </div> -->
    </div>

    <div>
      <button mat-raised-button [matMenuTriggerFor]="menu">Еще</button>

      <mat-menu #menu="matMenu">
        <button (click)="openAdvancedDialog()" mat-menu-item>Расширенный поиск</button>        
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="quit()">ыы 313</button>
      </mat-menu>
      
    </div>
  </div>
</div>

<div *ngIf="!clientItems&&!clientError" class="container" style="padding-left: 50%;">
  <mat-icon style="font-size: 60px;">access_time</mat-icon>
</div>



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clientItems&&!clientError">
  <thead>
    <tr>
      <th>Пасспорт</th>
      <th>Ф.И.О.</th>
      <th>Дата рождения</th>
      <th>Email</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let queueItem of clientItems">
      <td>{{ queueItem.person.id }}</td>
      <td>{{ getFIO(queueItem.person) }}</td>      
      <td>{{ queueItem.person.dateOfBirth | date:'shortDate'}}</td>
      <td>{{ queueItem.email }}</td>
    </tr>
  </tbody>
</table>

<div class="errorBox" *ngIf="clientError"> 
  <div class="errorItem" style="padding-left: 47.5%;">
    <mat-icon style="font-size: 60px;">warning</mat-icon>
  </div>
  <div class="errorItem" style="text-align: center;font-size: 30px;">Не удалось получить список пользователей</div>
</div>