.full-width {
    width: 100%;
    margin-bottom: 10px;
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
  }

.client-form {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div{
    width: 50%;
}

.forgotPass{
  cursor: pointer;
  text-decoration: underline;
}
.forgotPass:hover {
  color: red;
}

.form-btn{
    display: flex;
    align-items: center;
}

.form-btn > button {
    margin-left: auto;
}


  .error-message {
    font-size: 12px;
  }

.form-info{
  color: green;
  margin-right: 10px;
  margin-left: auto;
}

.form-error{
  color: red;
  margin-right: 10px;
  margin-left: auto;
}

.form-info, .form-error + button{
  margin-left: unset;
}



