<h1>Сопровождение трансформации</h1>
<div class="formContainer">
      <form class="example-form">
        <h3>Введите идентификатор клиента</h3>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Идентификатор клиента..</mat-label>
          <input type="text"
                 placeholder="Клиент №.."
                 aria-label="Идентификатор клиента.."
                 matInput
                 [formControl]="Id"
                 >          

                 <mat-error *ngFor="let validation of validation_messages.Id">
                  <mat-error class="error-message" *ngIf="formControlId.hasError(validation.type) && (formControlId.dirty || formControlId.touched)">{{validation.message}}</mat-error>
                </mat-error>
        </mat-form-field>      
        <h3>Выберете специализацию</h3>
        <div *ngIf="!orders" class="container">
          Укажите действительного клиента
        </div>
        
        <div class="RequestButtons">
          <button mat-raised-button color="primary" [disabled]="!Id.value" >Сгенерировать сценарий</button>              
        </div>        

        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="orders">
          <thead>
            <tr>
              <th>№</th>
              <th>Ф.И.О.</th>
              <th>№Специализации</th>
              <th>Название специализации</th>      
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{ order.clientId }}</td>
              <td>{{ order.FIO }}</td>
              <!--<td>{{ queueItem.endTime }}</td>-->
              <td>{{ order.SpezId }}</td>
              <td>{{ order.SpezName }}</td>
            </tr>
          </tbody>
        </table>
      </form>      
    </div>


    